<?xml version="1.0"?>
<phpunit
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  bootstrap="./tests/bootstrap.php"
  verbose="true"
>

  <!-- See https://phpunit.de/manual/current/en/appendixes.configuration.html for more help setting up this file. -->

  <testsuites>
    <testsuite name="TmIdAuTestSuite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <php>

    <ini name="error_reporting" value="E_ALL" />
    <env name="APP_ENV" value="testing" />

  </php>

</phpunit>