
// Remove top & bottom margins off most first & last block elements.
article,
h1:not(.site-heading),
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dt,
dd,
blockquote {

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}
