
article {

  margin: 1em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .content {
    margin: 1em 0;
  }

} // Article.

.meta {
  color: #ccc;
  font-size: 0.85em;
}

.post.format-image .meta,
.post.format-status .meta {

  position: relative;
  padding-left: 30px;

  &:before {
    position: absolute;

    top: 0;
    left: 0;

    width: 22px;
    height: 22px;

    opacity: 0.2;
    filter: grayscale(100%);

    background-repeat: no-repeat;
    background-size: contain;

    content: '';

  } // &:before
} // .post.format-image/image

.post.format-image .meta:before {
  background-image: url(../../dist/images/instagram.svg);
}

.post.format-status .meta:before {
  background-image: url(../../dist/images/twitter.svg);
}

.post.format-image figure img {
  max-width: 300px;
}

.post.format-image .content,
.post.format-status .content {
  margin: 0;
}
