
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

h1 {
  margin: 1em 0 .75em;
  font-size: 2em;
  line-height: 1em;
}

p {
  margin: 1em 0;
}

ol,
ul:not(.menu) {
  margin: 1em 0 1em 2em;
}

ol {
  li {
    list-style-type: decimal;
  }
}

ul:not(.menu) {
  li {
    list-style-type: disc;
  }
}

a {
  color: $primary-color;
}

em {
  font-size: .9em;
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  background-color: $primary-color-light;
  font-family: monospace;
  font-size: .85em;
  padding: 0 .5em;
}