
.page-template-open-source {

  .description {
    display: block;
  }

  .tech-stack,
  .license {
    display: block;
    color: $light-grey;
    font-size: 0.85em;
  }

} // .page-template-open-source.
