
body {
  max-width: $page-width;
  margin: 1em auto;
  font-family: $body-font, Arial, sans-serif;
  font-size: $body-size;
  line-height: $body-line-height;
}

.page-wrapper {
  @include clearfix;
}

header {
  float: left;
  width: $sidebar-width;
}

nav {

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  li {
    list-style-type: none;
  }

} // Nav.

main {
  float: right;
  width: $content-width;
}

footer {
  clear: both;
  padding: 2em 0 0;
  font-size: 0.85em;
  text-align: center;
}
